.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.container button{
    border-radius: 0%;
    background-color: green;
}

.input{
    align-items: stretch;
    display: flex;
    justify-content: center;
}